@{
	ViewData["Title"] = "Update MenuTable";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@using SignalR.DtoLayer.MenuTableDtos
@model UpdateMenuTableDto

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Update MenuTable</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">

					<div class="card">
						<div class="card-header">
							<div class="card-title">Update MenuTable</div>
						</div>
						<div class="card-body">
							<input type="hidden" asp-for="Id"/> 
							<div class="form-group">
								<label for="Name">Enter Name</label>
								<input type="text" class="form-control" id="Name" asp-for="Name">
							</div>
							<div class="form-group">
								<label for="Status">Enter Status</label>
								<input type="text" class="form-control" id="Status" asp-for="Status">
							</div>


						</div>
						<div class="card-action">
							<button class="btn btn-primary">Update MenuTable</button>

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

