@{
	ViewData["Title"] = "Create Testimonial";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@using SignalRWebUI.Dtos.TestimonialDtos
@model CreateTestimonialDto

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Create Testimonial</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">

					<div class="card">
						<div class="card-header">
							<div class="card-title">Add New Testimonial</div>
						</div>
						<div class="card-body">

							<div class="form-group">
								<label for="categoryname">Enter Category Name</label>
								<input type="text" class="form-control" id="categoryname" asp-for="Name">
							</div>
							<div class="form-group">
								<label for="Comment">Enter Comment</label>
								<input type="text" class="form-control" id="Comment" asp-for="Comment">
							</div>
							<div class="form-group">
								<label for="Status">Enter Status</label>
								<input type="text" class="form-control" id="Status" asp-for="Status">
							</div>
							<div class="form-group">
								<label for="ImageUrl">Enter ImageUrl</label>
								<input type="text" class="form-control" id="ImageUrl" asp-for="ImageUrl">
							</div>
							<div class="form-group">
								<label for="Description">Enter Description</label>
								<textarea rows="5" class="form-control" id="Description" asp-for="Description"></textarea>
							</div>


						</div>
						<div class="card-action">
							<button class="btn btn-primary">Add Testimonial</button>

						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

