@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Dashboard</h3>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/bootstrap.min.js"></script>

<div class="container-fluid">
	<h4 class="page-title">Dashboard</h4>

	<script>
		$(document).ready(() => {
			console.log("document ready");
			var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7298/SignalRHub").build();

			connection.start().then(() => {

				

				
				setInterval(() => {
					connection.invoke("SendDashboardStatistics");
					connection.invoke("ProductCountByCategoryName");
					connection.invoke("ProductAvgPriceByCategoryName");
				}, 1000); 

			}).catch((err) => {
				console.log(err);
			});

			connection.on("ReceiveCategoryCount", (value) => {
				$("#CategoryCount").text(value);
			});
			connection.on("ReceiveProductCount", (value2) => {
				$("#ProductCount").text(value2);
			});
			connection.on("ReceiveActiveCategoryCount", (value3) => {
				$("#ActiveCategoryCount").text(value3);
			});
			connection.on("ReceivePassiveCategoryCount", (value4) => {
				$("#PassiveCategoryCount").text(value4);
			});
			connection.on("ReceiveProductCountByCategoryName", (categoryCounts) => {
				$("#categoryProductCounts").empty(); // Clear previous content
				$.each(categoryCounts, (categoryName, count) => {
					var span = $("<span>").text(categoryName + ": " + count);
					$("#categoryProductCounts").append(span).append("<br>");
				});
			});
			connection.on("ReceiveProductAvgPrice", (value6) => {
				$("#ProductAvgPrice").text(value6);
			});
			connection.on("ReceiveProductNameByMinPrice", (value7) => {
				$("#ProductNameByMinPrice").text(value7);
			});
			connection.on("ReceiveProductNameByMaxPrice", (value8) => {
				$("#ProductNameByMaxPrice").text(value8);
			});
			connection.on("ReceiveProductAvgPriceByCategoryName", (categoryPrices) => {
				$("#ProductAvgPriceByCategoryName").empty(); // Clear previous content
				$.each(categoryPrices, (categoryName, price) => {
					var span = $("<span>").text(categoryName + ": " + price);
					$("#ProductAvgPriceByCategoryName").append(span).append("<br>");
				});
			});
			connection.on("ReceiveTotalOrderCount", (value10) => {
				$("#TotalOrderCount").text(value10);
			});
			connection.on("ReceiveActiveOrderCount", (value11) => {
				$("#ActiveOrderCount").text(value11);
			});
			connection.on("ReceiveLastOrderPrice", (value12) => {
				$("#LastOrderPrice").text(value12);
			});
			connection.on("ReceiveTotalMoneyCaseAmount", (value13) => {
				$("#TotalMoneyCaseAmount").text(value13);
			});
			connection.on("ReceiveTodayTotalPrice", (value14) => {
				$("#TodayTotalPrice").text(value14);
			});
			connection.on("ReceiveMenuTableCount", (value15) => {
				$("#MenuTableCount").text(value15);
			});
			

		});
	</script>




	<div class="row">
		<div class="col-md-3">
			<div class="card card-stats card-primary h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-certificate"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Category Count</p>
								<h4 class="card-title" id="CategoryCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-info h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-shopping-cart"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Product Count</p>
								<h4 class="card-title" id="ProductCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-success h-75 d-flex flex-column">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-newspaper-o"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Active Category Count</p>
								<h4 class="card-title" id="ActiveCategoryCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-danger h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-close"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Passive Category Count</p>
								<h4 class="card-title" id="PassiveCategoryCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-3">
			<div class="card card-stats card-warning h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-list"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category"><b>Category Product Count</b></p>
								<div id="categoryProductCounts"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-Info h-75 d-flex flex-column">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-bar-chart"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Product Avg Price</p>
								<h4 class="card-title" id="ProductAvgPrice"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-primary h-75 d-flex flex-column">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-arrow-circle-down"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Product Name By Min Price</p>
								<h4 class="card-title" id="ProductNameByMinPrice"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-info h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-arrow-circle-up"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Product Name By Max Price</p>
								<h4 class="card-title" id="ProductNameByMaxPrice"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="card card-stats card-success h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-users"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Product AvgPrice By Category </p>
								<div id="ProductAvgPriceByCategoryName"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-danger h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-reorder"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Total Order Count</p>
								<h4 class="card-title" id="TotalOrderCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-warning h-75 d-flex flex-column">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-flickr"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Active Order Count</p>
								<h4 class="card-title" id="ActiveOrderCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-Info h-75 d-flex flex-column">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-history"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Last Order Price</p>
								<h4 class="card-title" id="LastOrderPrice"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="card card-stats card-warning">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-money"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">TotalMoneyCaseAmount</p>
								<h4 class="card-title" id="TotalMoneyCaseAmount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-success">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-paperclip"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Today Total Price</p>
								<h4 class="card-title" id="TodayTotalPrice"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-danger">
				<div class="card-body">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-table"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Menu Table Count</p>
								<h4 class="card-title" id="MenuTableCount"></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card card-stats card-primary">
				<div class="card-body ">
					<div class="row">
						<div class="col-5">
							<div class="icon-big text-center">
								<i class="la la-check-circle"></i>
							</div>
						</div>
						<div class="col-7 d-flex align-items-center">
							<div class="numbers">
								<p class="card-category">Order</p>
								<h4 class="card-title">576</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>